In [2]:
import pandas as pd
#2015 data
file_1501="citibike_data/bike2015/201501-citibike-tripdata.csv"
file_1502="citibike_data/bike2015/201502-citibike-tripdata.csv"
file_1503="citibike_data/bike2015/201503-citibike-tripdata.csv"
file_1504="citibike_data/bike2015/201504-citibike-tripdata.csv"
file_1505="citibike_data/bike2015/201505-citibike-tripdata.csv"
file_1506="citibike_data/bike2015/201506-citibike-tripdata.csv"
file_1507="citibike_data/bike2015/201507-citibike-tripdata.csv"
file_1508="citibike_data/bike2015/201508-citibike-tripdata.csv"
file_1509="citibike_data/bike2015/201509-citibike-tripdata.csv"
file_1510="citibike_data/bike2015/201510-citibike-tripdata.csv"
file_1511="citibike_data/bike2015/201511-citibike-tripdata.csv"
file_1512="citibike_data/bike2015/201512-citibike-tripdata.csv"
#2018 data
file_1801="citibike_data/bike2018/JC-201801-citibike-tripdata.csv"
file_1802="citibike_data/bike2018/JC-201802-citibike-tripdata.csv"
file_1803="citibike_data/bike2018/JC-201803-citibike-tripdata.csv"
file_1804="citibike_data/bike2018/JC-201804-citibike-tripdata.csv"
file_1805="citibike_data/bike2018/JC-201805-citibike-tripdata.csv"
file_1806="citibike_data/bike2018/JC-201806-citibike-tripdata.csv"
file_1807="citibike_data/bike2018/JC-201807-citibike-tripdata.csv"
file_1808="citibike_data/bike2018/JC-201808-citibike-tripdata.csv"
file_1809="citibike_data/bike2018/JC-201809-citibike-tripdata.csv"
file_1810="citibike_data/bike2018/JC-201810-citibike-tripdata.csv"
file_1811="citibike_data/bike2018/JC-201811-citibike-tripdata.csv"
file_1812="citibike_data/bike2018/JC-201812-citibike-tripdata.csv"

In [3]:
bike_1501_df = pd.read_csv(file_1501)
bike_1502_df = pd.read_csv(file_1502)
bike_1503_df = pd.read_csv(file_1503)
bike_1504_df = pd.read_csv(file_1504)
bike_1505_df = pd.read_csv(file_1505)
bike_1506_df = pd.read_csv(file_1506)
bike_1507_df = pd.read_csv(file_1507)
bike_1508_df = pd.read_csv(file_1508)
bike_1509_df = pd.read_csv(file_1509)
bike_1510_df = pd.read_csv(file_1510)
bike_1511_df = pd.read_csv(file_1511)
bike_1512_df = pd.read_csv(file_1512)

bike_1801_df = pd.read_csv(file_1801)
bike_1802_df = pd.read_csv(file_1802)
bike_1803_df = pd.read_csv(file_1803)
bike_1804_df = pd.read_csv(file_1804)
bike_1805_df = pd.read_csv(file_1805)
bike_1806_df = pd.read_csv(file_1806)
bike_1807_df = pd.read_csv(file_1807)
bike_1808_df = pd.read_csv(file_1808)
bike_1809_df = pd.read_csv(file_1809)
bike_1810_df = pd.read_csv(file_1810)
bike_1811_df = pd.read_csv(file_1811)
bike_1812_df = pd.read_csv(file_1812)

In [4]:
bike2018_frames=[bike_1801_df,bike_1802_df,bike_1803_df,bike_1804_df,
                 bike_1805_df,bike_1806_df,bike_1807_df,bike_1808_df,
                 bike_1809_df,bike_1810_df,bike_1811_df,bike_1812_df]
citibike2018=pd.concat(bike2018_frames)

bike2015_frames=[bike_1501_df,bike_1502_df,bike_1503_df,bike_1504_df,
                 bike_1505_df,bike_1506_df,bike_1507_df,bike_1508_df,
                 bike_1509_df,bike_1510_df,bike_1511_df,bike_1512_df]
citibike2015=pd.concat(bike2015_frames)

In [6]:
print(citibike2015.shape)
print(citibike2018.shape)

(9937969, 15)
(353892, 15)

In [8]:
citibike2015.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1

In [7]:
#df.to_csv(r'Path where you want to store the exported CSV file\File Name.csv')
citibike2018.to_csv("citibike2018.csv", encoding= 'utf-8', index=False)
citibike2015.to_csv("citibike2015.csv", encoding= 'utf-8', index=False)