In [1]:
import pandas as pd
#2015 data
file_1501="citibike_data/bike2015/201501-citibike-tripdata.csv"
file_1502="citibike_data/bike2015/201502-citibike-tripdata.csv"
file_1503="citibike_data/bike2015/201503-citibike-tripdata.csv"
file_1504="citibike_data/bike2015/201504-citibike-tripdata.csv"
file_1505="citibike_data/bike2015/201505-citibike-tripdata.csv"
file_1506="citibike_data/bike2015/201506-citibike-tripdata.csv"
file_1507="citibike_data/bike2015/201507-citibike-tripdata.csv"
file_1508="citibike_data/bike2015/201508-citibike-tripdata.csv"
file_1509="citibike_data/bike2015/201509-citibike-tripdata.csv"
file_1510="citibike_data/bike2015/201510-citibike-tripdata.csv"
file_1511="citibike_data/bike2015/201511-citibike-tripdata.csv"
file_1512="citibike_data/bike2015/201512-citibike-tripdata.csv"
#2018 data
file_1801="citibike_data/bike2018/JC-201801-citibike-tripdata.csv"
file_1802="citibike_data/bike2018/JC-201802-citibike-tripdata.csv"
file_1803="citibike_data/bike2018/JC-201803-citibike-tripdata.csv"
file_1804="citibike_data/bike2018/JC-201804-citibike-tripdata.csv"
file_1805="citibike_data/bike2018/JC-201805-citibike-tripdata.csv"
file_1806="citibike_data/bike2018/JC-201806-citibike-tripdata.csv"
file_1807="citibike_data/bike2018/JC-201807-citibike-tripdata.csv"
file_1808="citibike_data/bike2018/JC-201808-citibike-tripdata.csv"
file_1809="citibike_data/bike2018/JC-201809-citibike-tripdata.csv"
file_1810="citibike_data/bike2018/JC-201810-citibike-tripdata.csv"
file_1811="citibike_data/bike2018/JC-201811-citibike-tripdata.csv"
file_1812="citibike_data/bike2018/JC-201812-citibike-tripdata.csv"

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1
2,346,1/1/2015 0:04,1/1/2015 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,1
3,182,1/1/2015 0:04,1/1/2015 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,1
4,969,1/1/2015 0:05,1/1/2015 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,1